<div class="row">
    <div class="col-xs-12">
        <img [src]="actualRecipe.imagePath" alt="" class="img-responsive" width="250px" height="250px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{actualRecipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="sendIngredientsToShoppingList()">Add ingridients to Shopping list</a></li>
                <li><a style="cursor: pointer;" (click)="editThisRecipe()">Edit recipe</a></li>
                <li><a style="cursor: pointer;" (click)="deleteRecipe()">Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{actualRecipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of actualRecipe.ingredients; let i = index ">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>