<nav class="navegador p-0">



    <div role="button" class="toggler-div only-phone" (click)="conmuteClose()" [ngClass]="{'menu-open': menuOpen}">
        <span class="toggler "></span>
    </div>

    <div class="brand1">
        <img src="../../assets/img/eci-logo.png" alt="Logotipo del corte ingles">
    </div>
    <ul class="link_list">
        <div class="brand1 d-none">
            <img src="../../assets/img/eci-logo.png" alt="Logotipo del corte ingles">
        </div>
        <li>
            <a href="#">Mapa de precios</a>
        </li>
        <li>
            <a href="#">Precios a futuro</a>
        </li>
    </ul>
</nav>