.composition {
    position:relative; 

    &__photo{
        width: 55%;
        box-shadow: 0 0.94rem 2.5rem rgba($color-black, .4);
        border-radius: 2px;
        position:absolute; 
        z-index: 10;
        outline-offset: 1.2rem;
        
        &--p1{
            left:0; 
            top: -1.25rem; 
        }

        &--p2{
            right:0; 
            top: 1.25rem; 

        }

        &--p3{
            left:20%; 
            top: 6.25rem; 
        }

        &:hover{
            outline: .75rem solid $color-primary;
            border-radius: 0;
            transform: scale(1.05) translateY(-.30rem); 
            box-shadow: 0 1.56rem 2.5rem rgba($color-black, .5);
            z-index: 20; 
        }
    }

    &:hover &__photo:not(:hover){
        transform:scale(.95); 
    }

}