<div class="column-filter-container">
    <h2>Resultados para la búsqueda</h2>
    <div class="filter-row">
        <ul>
            <li (click)="conmutaVisibilidadColumna(1, colum1)" #colum1><i class="las la-check"></i>Detalle de la referencia</li>
            <li (click)="conmutaVisibilidadColumna(2, colum2)" #colum2><i class="las la-check"></i>Información de proveedor</li>
            <li (click)="conmutaVisibilidadColumna(3, colum3)" #colum3><i class="las la-check"></i>Información de Precios</li>
            <li (click)="conmutaVisibilidadColumna(4, colum4)" #colum4><i class="las la-check"></i>Información adicional de Costes</li>
        </ul>
    </div>
</div>