<h1>Teoría del curso advanced animations de angular</h1>
<ul >
  <li>
    Cuando hacemos referencia al selector ':host' en la hoja de estilo asociada a un determinado componente, se hace referencia al propio componente en si mismo.
  </li>
  <li>
    También si desde donde se invoca, a un componente se le añaden clases css, se pueden hacer referencia a ellas con host(.custom-class) para personalizarla
  </li>
  <li>
    En el archivo angular.json dentro de un determinado proyecto en el path: projects->nombre_mi_proyecto->architec->build->options->styles se tiene en cuenta que se toma como <b>referencia base</b> de la ruta de la que
    desea importar el estilo la ruta especificada en la variable "outputPath"
  </li>
</ul>
