<!-- <div class="container p-4">
    <div class="row p-4">
        <div class="col-12 text-center">
            <h2> Angular SumApp</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="mb-3 text-center">
                <label for="sumando_1" class="form-label">Sumando 1 </label>
                <input type="number" class="form-control" id="sumando_1" #num1>
            </div>
        </div>
        <div class="col-2">
            <div class="mb-3 text-center">
                <label for="sumando_2" class="form-label">Sumando 2 </label>
                <input type="number" class="form-control" id="sumando_2" #num2>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <button class="btn btn-success" (click)="printAdd(+num1.value,+num2.value)" id="calc">Sumar</button>
        </div>
    </div>
    <hr>

    <div class="row justify-content-center">
        <div class="col-3">
            <div class="mb-3 text-center">
                <label for="resultado" class="form-label">Resultado </label>
                <input type="number" class="form-control" id="resultado" #result>
            </div>
        </div>
    </div>

</div>
 -->
<app-component-from-test></app-component-from-test>