
/* MENU ESPECIAL */

.special-menu {
    opacity:0; 
    visibility: hidden;
    pointer-events: none;
    position:absolute; 
    background-color: white;
    width: 365px;
    top:0; 
    left: 0;
    height: 100vh;
    z-index: 10000; 
    transform: translateX(-100%);
}

.nav__list-of-list{
    overflow-y: scroll;
    max-height: 90%;
}

.nav-icon{
    position:relative; 
    z-index: 10001;
}

.special-menu-open{
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    transform: translateX(0%);
    transition: all .5s;
}

.menu-welcome {
    position:relative; 
    color:white; 
    font-size: 1.7rem; 
    font-weight: 700;
    text-align: center;
    padding: 2rem 0 1rem 0;
    background-color: var(--color-main);
}


.menu-welcome .close {
    position:absolute; 
    right: 2%; 
    top:6%; 
    font-size: 2rem;
}

.nav__list {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.nav__list li {
    display:block; 
    border-radius: 0;
    padding:.75rem 2rem .75rem 3.5rem; 
    font-size: 1.1rem;
    color: #333; 
}

.nav__list span {
    font-size: 1.4rem;
    color: black; 
    font-weight: 700;
}

.nav__list a:link,
.nav__list a:visited {
    text-decoration: none;
    color:inherit; 
}


.shadow[on="true"] {
    position:absolute; 
    background-color: rgba(0, 0, 0, 0.712);
    height: 100%;
    width: 100%;
    display:block; 
    top:0; 
    left:0; 
    z-index:9999; 
    transition: all .5s ease-in-out;
}


@media screen and (max-width: 990px) {
   
}
